@charset "UTF-8";

body{
    background-color: rgb(33, 42, 56);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
}

h1 {
    color: rgb(29, 28, 28);
}

h2{
    color: rgb(97, 97, 96);
}

p {
    text-align: justify;
    color: beige;
}